.DS_Store
node_modules
/build
/.svelte-kit
/package
/src/lib/gen
.vite.temp.*.js
CaddyfileRemoteRuben
tests-out/
storageState.json
.env.production
dist/
static/tsdocs/
static/ui_builder/
ui_builder.tar.gz
ui_builder_serve/
src/lib/components/copilot/chat/__tests__/flow/results/
src/lib/components/copilot/chat/__tests__/app/results/
.npmrc

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
e2e/auth.json
e2e/*.png

.fast-check/