{
  auto_https off
}

http://localhost {  
  bind {$ADDRESS}
  reverse_proxy /api/* http://localhost:8000
  reverse_proxy /* http://localhost:3000
  reverse_proxy /ws/* http://localhost:3001
}

https://localhost {  
  bind {$ADDRESS}
  reverse_proxy /ws/* http://localhost:3001
}
