:80 {  
  bind {$ADDRESS}
  reverse_proxy /api/* http://localhost:8000
  reverse_proxy /* http://localhost:3000
  reverse_proxy /ws/* http://localhost:3001
}

:443 {  
  bind {$ADDRESS}
  reverse_proxy /api/* http://localhost:8000
  reverse_proxy /ws/* http://localhost:3001
}
