[package]
name = "windmill-parser-ts"
version.workspace = true
edition.workspace = true
authors.workspace = true


[lib]
name = "windmill_parser_ts"
path = "./src/lib.rs"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen.workspace = true
serde-wasm-bindgen.workspace = true

[dependencies]
windmill-parser.workspace = true
windmill-parser-sql.workspace = true
swc_common.workspace = true
triomphe.workspace = true
swc_ecma_parser.workspace = true
swc_ecma_ast.workspace = true
swc_ecma_visit.workspace = true
serde_json.workspace = true
anyhow.workspace = true
regex.workspace = true
lazy_static.workspace = true
