{
	layer4 {
		:25 {
			proxy {
				to windmill_server:2525
			}
		}
	}
}

{$BASE_URL} {
        bind {$ADDRESS}

        # Extra services: LSP, Multiplayer, Debugger (windmill_extra gateway)
        reverse_proxy /ws/* /ws_mp/* /ws_debug/* http://windmill_extra:3000

        # Search indexer, Enterprise Edition (windmill_indexer:8002)
        # reverse_proxy /api/srch/* http://windmill_indexer:8002

        # Default: Windmill server
        reverse_proxy /* http://windmill_server:8000

        # TLS with custom certificates
        # tls /certs/cert.pem /certs/key.pem
}
