[build]
incremental = true

[target.x86_64-apple-darwin]
rustflags = [
    "-C", "link-arg=-undefined",
    "-C", "link-arg=dynamic_lookup",
    "-C", "link-args=-Wl,-rpath,$ORIGIN/"
]

[target.aarch64-apple-darwin]
rustflags = [
    "-C", "link-arg=-undefined",
    "-C", "link-arg=dynamic_lookup",
    "-C", "link-args=-Wl,-rpath,$ORIGIN/"
]

[net]
git-fetch-with-cli = true