[package]
name = "windmill-autoscaling"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
name = "windmill_autoscaling"
path = "./src/lib.rs"

[features]
enterprise = ["windmill-queue/enterprise", "windmill-common/enterprise"]
private = ["dep:kube", "dep:k8s-openapi"]
default = []

[dependencies]
uuid.workspace = true
serde.workspace = true
sqlx.workspace = true
serde_json.workspace = true
tracing.workspace = true
windmill-common = { workspace = true, default-features = false }
windmill-queue.workspace = true
anyhow.workspace = true
kube = { workspace = true, optional = true }
k8s-openapi = { workspace = true, optional = true }
tokio.workspace = true
thiserror.workspace = true
axum.workspace = true
