[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wmill = ">=1.8.1"
wmill_pg = ">=1.8.1"
requests = "*"
sendgrid = "*"
psycopg2-binary = "*"
mysql-connector-python = "*"
pymongo = "*"
slack_sdk = "*"
google-api-python-client = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
yfinance = "*"
pyowm = "*"
pyairtable = "*"
matplotlib = "*"

