[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wmill = ">=1.638.2"
wmill_pg = ">=1.638.2"
sendgrid = "*"
mysql-connector-python = "*"
pymongo = "*"
slack_sdk = "*"
google-api-python-client = "*"
seaborn = "*"
yfinance = "*"
pyowm = "*"
pyairtable = "*"
matplotlib = "*"
nltk = "*"
pandas = "*"
numpy = "*"
pyyaml = "*"
toml = "*"
psycopg2-binary = "*"
psycopg = "*"
awscli = "*"
python-dateutil = "*"
pytz = "*"
pyjwt = "*"
sqlalchemy = "*"
urllib3 = "*"
requests = "*"
s3transfer = "*"
six = "*"
certifi = "*"
idna = "*"
charset-normalizer = "*"
typing-extensions = "*"
google-api-core = "*"
rsa = "*"
cryptography = "*"
pyparsing = "*"
jmespath = "*"
boto3 = "*"
polars = "*"