[package]
name = "windmill-queue"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
name = "windmill_queue"
path = "src/lib.rs"

[features]
default = []
enterprise = []
benchmark = []

[dependencies]
windmill-audit.workspace = true
windmill-common = { workspace = true, features = ["sqlx", "reqwest"] }
anyhow.workspace = true
hmac.workspace = true
sql-builder.workspace = true
sqlx.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
ulid.workspace = true
uuid.workspace = true
chrono.workspace = true
chrono-tz.workspace = true
hex.workspace = true
reqwest.workspace = true
lazy_static.workspace = true
prometheus.workspace = true
cron.workspace = true
rsmq_async.workspace = true
tokio.workspace = true
futures-core.workspace = true
itertools.workspace = true
async-recursion.workspace = true
bigdecimal.workspace = true
axum.workspace = true
serde_urlencoded.workspace = true
regex.workspace = true