[package]
name = "windmill-queue"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
name = "windmill_queue"
path = "src/lib.rs"

[features]
default = []
private = []
enterprise = ["windmill-common/enterprise"]
cloud = []
benchmark = ["windmill-common/benchmark"]
failpoints = []
prometheus = ["dep:prometheus"]
smtp = []

[dependencies]
windmill-audit.workspace = true
windmill-common = { workspace = true, default-features = false }
anyhow.workspace = true
hmac.workspace = true
sql-builder.workspace = true
sqlx.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
ulid.workspace = true
uuid.workspace = true
chrono.workspace = true
chrono-tz.workspace = true
hex.workspace = true
reqwest.workspace = true
lazy_static.workspace = true
prometheus = { workspace = true, optional = true }
cron.workspace = true
tokio.workspace = true
futures-core.workspace = true
futures.workspace = true
itertools.workspace = true
async-recursion.workspace = true
axum.workspace = true
serde_urlencoded.workspace = true
regex.workspace = true
backon.workspace = true
quick_cache.workspace = true
thiserror.workspace = true
dashmap.workspace = true
once_cell.workspace = true
