/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.item-button {
		@apply cursor-pointer;
		@apply py-1;
		@apply border border-gray-300;
		@apply rounded-sm;
	}
	.item-button:hover {
		@apply border border-gray-800 bg-gray-100 border-opacity-50;
	}
	.item-button-selected {
		@apply py-1;
		@apply border border-blue-500;
		@apply bg-blue-50;
		@apply rounded-sm;
	}

	.default-button {
		/*this styling does not impact the Dropdown component */
		@apply bg-blue-500;
		@apply hover:bg-blue-700;
		@apply text-white;
		@apply font-bold;
		@apply py-1 px-2;
		@apply border rounded;
		@apply w-min;
		@apply min-w-max;
		@apply text-sm;
	}

	.default-button-disabled {
		/*this styling does not impact the Dropdown component */
		@apply bg-gray-100;
		@apply text-gray-300;
		@apply font-bold;
		@apply py-1 px-2;
		@apply border rounded;
		@apply w-min;
		@apply min-w-max;
		@apply text-sm;
	}

	input[disabled],
	input:disabled,
	textarea[disabled],
	textarea:disabled {
		@apply bg-gray-100 !important;
	}

	button:disabled,
	button[disabled],
	a.disabled {
		/*this styling does not impact the Dropdown component */
		@apply bg-gray-100 !important;
		@apply text-gray-500 !important;
		@apply border-none !important;
		cursor: not-allowed !important;
		pointer-events: none !important;
	}

	button:disabled svg,
	button[disabled] svg,
	a.disabled svg {
		/*this styling does not impact the Dropdown component */
		@apply text-gray-500 !important;
	}
}