# name: dependabot auto-merge

# on: pull_request_target

# permissions:
#   contents: read
#   pull-requests: read

# jobs:
#   dependabot:
#     runs-on: ubuntu-latest
#     if: ${{ github.actor == 'dependabot[bot]' }}
#     steps:
#       - name: Dependabot metadata
#         id: metadata
#         uses: dependabot/fetch-metadata@v1.6.0
#         with:
#           github-token: "${{ secrets.GITHUB_TOKEN }}"
#       - name: Enable auto-merge for Dependabot PRs
#         if: steps.metadata.outputs.update-type == 'version-update:semver-patch' ||  steps.metadata.outputs.update-type == 'version-update:semver-minor'
#         run: |
#           echo ${{ secrets.RUBEN_PAT }} | gh auth login --with-token
#           gh pr review --approve "$PR_URL"
#           gh pr merge --auto --squash "$PR_URL"
#         env:
#           PR_URL: ${{github.event.pull_request.html_url}}
