name: Run benchmarks

on:
  schedule:
    - cron: "0 0 */1 * *"
  workflow_dispatch:

jobs:
  benchmark:
    runs-on: [self-hosted, new]
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: windmill
          POSTGRES_PASSWORD: changeme

        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
      windmill:
        image: ghcr.io/windmill-labs/windmill:main
        env:
          DATABASE_URL: postgres://postgres:changeme@postgres:5432/windmill
          RUST_LOG: info

    steps:
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: benchmark
        timeout-minutes: 10
        run:
          deno run --unstable -A
          https://raw.githubusercontent.com/windmill-labs/windmill/main/benchmarks/benchmark_noop.ts
          --host http://windmill:8000 -e admin@windmill.dev -p changeme -j 10000
