name: Build Windows Worker

on:
  push:
    branches:
      - "alp/build_windows"
    paths:
      - "backend/**"
      - ".github/workflows/build_windows_worker.yml"

env:
  CARGO_INCREMENTAL: 0
  SQLX_OFFLINE: true
  DISABLE_EMBEDDING: true
  RUST_LOG: info


jobs:
  cargo_build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Read EE repo commit hash
        shell: pwsh
        run: |
          $ee_repo_ref = Get-Content .\backend\ee-repo-ref.txt
          echo "ee_repo_ref=$ee_repo_ref" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Checkout windmill-ee-private repository
        uses: actions/checkout@v4
        with:
          repository: windmill-labs/windmill-ee-private
          path: ./windmill-ee-private
          ref: ${{ env.ee_repo_ref }}
          token: ${{ secrets.WINDMILL_EE_PRIVATE_ACCESS }}
          fetch-depth: 0

      - name: Substitute EE code
        shell: bash
        run: |
          ./backend/substitute_ee_code.sh --copy --dir ./windmill-ee-private

      - name: Cargo build windows
        timeout-minutes: 60
        run: |
          $env:OPENSSL_DIR = "${Env:ProgramFiles}\OpenSSL"
          mkdir frontend/build && cd backend
          New-Item -Path . -Name "windmill-api/openapi-deref.yaml" -ItemType "File" -Force
          cargo build --release --features=enterprise,stripe,embedding,parquet,prometheus,openidconnect,cloud,jemalloc,tantivy

      # - name: Rename binary with corresponding architecture
      #   run: |
      #     mv ./backend/target/release/windmill.exe ./backend/target/release/windmill-ee.exe 

      # - name: Attach binary to release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: |
      #       ./backend/target/release/windmill-ee.exe
